.section{
    margin:10px 0;
    background:white;
    box-shadow: 0 0 5px #ddd;
}
.section__header{
    font-size:20px;
    padding:25px;
    margin:0;
    border-bottom:2px solid #ddd;
}
.section__body {
    padding:25px;
}
.form{
    display:flex;
    padding:25px;
    
   
    

}